body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: rgb(244, 239, 239);
}

.card{
    width: 300px;
    height: 400px;
    border: 5px solid;
    border-color:white;
    border-radius: 3%;
    background-color: rgb(255, 248, 240);
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}

.top, .bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-size: 2rem;
}

.top{
    align-self: flex-start;
}

.mid{
    font-size: 3rem;
}

.bottom{
    align-self: flex-end;
}
.transform{
    transform: rotate(180deg);
}
